In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets

In [2]:
boston = datasets.load_boston()

In [24]:
boston.DESCR.split("\n")

['.. _boston_dataset:',
 '',
 'Boston house prices dataset',
 '---------------------------',
 '',
 '**Data Set Characteristics:**  ',
 '',
 '    :Number of Instances: 506 ',
 '',
 '    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.',
 '',
 '    :Attribute Information (in order):',
 '        - CRIM     per capita crime rate by town',
 '        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.',
 '        - INDUS    proportion of non-retail business acres per town',
 '        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)',
 '        - NOX      nitric oxides concentration (parts per 10 million)',
 '        - RM       average number of rooms per dwelling',
 '        - AGE      proportion of owner-occupied units built prior to 1940',
 '        - DIS      weighted distances to five Boston employment centres',
 '        - RAD      index of accessibility to radial highways',
 '        - TAX      full-value property-tax rate per $10,000',
 '        - PTRATIO  pupil-teacher ratio by town',
 '        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town',
 '        - LSTAT    % lower status of the population',
 "        - MEDV     Median value of owner-occupied homes in $1000's",
 '',
 '    :Missing Attribute Values: None',
 '',
 '    :Creator: Harrison, D. and Rubinfeld, D.L.',
 '',
 'This is a copy of UCI ML housing dataset.',
 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/',
 '',
 '',
 'This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.',
 '',
 "The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic",
 "prices and the demand for clean air', J. Environ. Economics & Management,",
 "vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics",
 "...', Wiley, 1980.   N.B. Various transformations are used in the table on",
 'pages 244-261 of the latter.',
 '',
 'The Boston house-price data has been used in many machine learning papers that address regression',
 'problems.   ',
 '     ',
 '.. topic:: References',
 '',
 "   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.",
 '   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.',
 '']

In [4]:
X = pd.DataFrame(boston.data)
Y = pd.DataFrame(boston.target)

In [5]:
X.columns = boston.feature_names

In [12]:
X.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [6]:
X.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [9]:
X2 = X.copy()

In [10]:
for feature1 in X.columns:
    for feature2 in X.columns:
        comp_feature = feature1 + "_" + feature2
        X2[comp_feature] = X[feature1]*X[feature2]

In [20]:
X2.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,...,LSTAT_CHAS,LSTAT_NOX,LSTAT_RM,LSTAT_AGE,LSTAT_DIS,LSTAT_RAD,LSTAT_TAX,LSTAT_PTRATIO,LSTAT_B,LSTAT_LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,...,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,...,0.777589,7.506572,76.446221,988.521002,40.560355,151.154644,5818.871146,239.290334,4274.823238,210.993989
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,...,3.341132,5.330207,38.514485,799.775718,22.767038,196.562582,5083.126041,145.807763,2613.501822,236.061920
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,...,0.000000,0.847440,12.955970,14.036000,3.409657,3.160000,498.960000,25.431000,5.580800,2.992900
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,...,0.000000,3.257580,46.347178,324.295500,27.500621,30.050000,2051.340000,122.942000,2355.214275,48.303700
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,...,0.000000,5.946000,68.182480,768.130000,36.729810,57.630000,3724.380000,205.030000,3804.722600,129.050000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,...,0.000000,10.591080,100.531987,1523.925000,48.274748,171.480000,8489.782500,334.360500,5640.628650,287.472100
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,...,26.820000,25.720630,201.908700,3797.000000,182.037253,911.280000,25288.020000,766.994000,15070.293000,1441.720900

In [11]:
X2.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       ...
       'LSTAT_CHAS', 'LSTAT_NOX', 'LSTAT_RM', 'LSTAT_AGE', 'LSTAT_DIS',
       'LSTAT_RAD', 'LSTAT_TAX', 'LSTAT_PTRATIO', 'LSTAT_B', 'LSTAT_LSTAT'],
      dtype='object', length=182)

In [25]:
X3 = X.copy()
for feature1 in X.columns:
    comp_feature = feature1 + "_" + feature1
    X3[comp_feature] = X[feature1]**2

In [26]:
X3.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'CRIM_CRIM', 'ZN_ZN', 'INDUS_INDUS',
       'CHAS_CHAS', 'NOX_NOX', 'RM_RM', 'AGE_AGE', 'DIS_DIS', 'RAD_RAD',
       'TAX_TAX', 'PTRATIO_PTRATIO', 'B_B', 'LSTAT_LSTAT'],
      dtype='object')

In [27]:
from sklearn import model_selection

In [28]:
X_train,X_test,Y_train,Y_test = model_selection.train_test_split(X,Y,random_state=0)
X2_train,X2_test,Y2_train,Y2_test = model_selection.train_test_split(X2,Y,random_state=0)
X3_train,X3_test,Y3_train,Y3_test = model_selection.train_test_split(X3,Y,random_state=0)

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
alg1 = LinearRegression(normalize=True)
alg2 = LinearRegression(normalize=True)
alg3 = LinearRegression(normalize=True)

In [31]:
alg1.fit(X_train,Y_train)
alg2.fit(X2_train,Y2_train)
alg3.fit(X3_train,Y3_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [32]:
print("Training score, for basic dataset:",alg1.score(X_train,Y_train))
print("Validation score for basic dataset:",alg1.score(X_test,Y_test))
print("Training score, for augmented dataset (all 2 degree):",alg2.score(X2_train,Y2_train))
print("Validation score for augmented dataset (all 2 degree):",alg2.score(X2_test,Y2_test))
print("Training score, for augmented dataset (homogenous 2 degree):",alg3.score(X3_train,Y3_train))
print("Validation score for augmented dataset (homogenous 2 degree):",alg3.score(X3_test,Y3_test))

Training score, for basic dataset: 0.7697699488741149
Validation score for basic dataset: 0.6354638433202127
Training score, for augmented dataset (all 2 degree): 0.9520519609032728
Validation score for augmented dataset (all 2 degree): 0.6074721959666034
Training score, for augmented dataset (homogenous 2 degree): 0.8596413794910498
Validation score for augmented dataset (homogenous 2 degree): 0.7200918269122347